extends layout

block content
    h1 Blog Test
    - each post in post_list
        div.post
            div.title
                h2
                    a(href='/post/'+post._id)!=post.title
            p.body= post.content
            p.created_at
                small=post.updated_at
            hr
    if req.user
        form(method="post")
            label Title:
            input(type='text', name='title')
            br
            label Content:
            br
            textarea(type='text', name='content')
            input(type='submit')
    else
        form(method="post" action="/login")
            label Login:
            input(type='text', name='username')
            br
            label Password:
            input(type='password', name='password')
            input(type='submit')
            br
            a(href='/user/create') sing up
