extends layout

block content
    h1 Blog Test
    form(method="post")
        label Login:
        input(type='text', name='username')
        br
        label Password:
        input(type='password', name='password')
        input(type='submit')
